{% extends 'base.html' %} {% block content %}
<div class="col-sm-6 col-sm-offset-3">
    <h2>{{title}}</h2>
    <form action="" class="row">
        <div class="col-sm-6">
            <div class="input-group">
                <input class="form-control" type="text" name="q" placeholder="Search posts" value="{{ request.GET.q}}">
                <span class="input-group-btn">
                <!-- <input class="btn btn-default" type="submit" value="Search"> -->
                    <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                </span>
            </div>
        </div>
    </form>
    <div class="row">
        {% for i in object_list %}
        <div class="col-sm-12">
            <div class="thumbnail">
                {% if i.image %}
                <img src="{{i.image.url}}" alt="" class="img-responsive"> {% endif %}
                <div class="caption post-detail-item">
                    {% if i.user.get_full_name %}
                    <p>Author: {{ i.user.get_full_name }}</p>
                    {% else %}
                    <p>Author: {{ i.user }}</p>
                    {% endif %}
                    <a href="{{ i.get_absolute_url }}">{{ i.title}}</a>
                    <div class="content-markdown">{{ i.content | truncatechars:120 }}</div>
                    <!-- <div class="">{{ i.get_markdown }}</div> -->
                    <!-- <div>{{ i.update }}</div> -->
                    <!-- <div>{{ i.timestamp | timesince }} ago</div> -->
                    <div>{{ i.publish }}</div>
                    <a href="{{ i.get_absolute_url }}" class="btn btn-primary" role="button">View</a>
                </div>
            </div>
        </div>
        <!-- {% cycle "" "</div><hr/><div class='row'>" %}  -->
        {% endfor %}
        <div class="pagination">
            <span class="step-links">
        {% if object_list.has_previous %}
            <a href="?{{ page_request_var }}={{ object_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
        </span> {% if object_list.has_next %}
            <a href="?{{ page_request_var }}={{ object_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">next</a> {% endif %}
            </span>
        </div>
    </div>
</div>
{% endblock %}
